<div id="<%= dom_id url %>">
  <p>
    <strong>Url:</strong>
    <%= url.url %>
  </p>

  <p>
    <strong>Shortened url:</strong>
    <%= url.shortened_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= url.user_id %>
  </p>

</div>
